* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

h1 {
  margin-top: 40px;
  transition-duration: 1s;
}

h1,
h2 {
  font-weight: bolder;
}

p {
  line-height: 30px;
  font-size: 22px;
}

form {
  margin-left: -4%;
}

#homepage-full,
#stack-full,
#contact-full {
  position: relative;
  text-align: center;
  font-weight: bold;
}

#homepage-full {
  background: url('../imgs/working-bg.jpg');
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.homepage-content {
  text-align: center;
}

#greeting-top,
#greeting-bottom {
  font-size: 55px;
  line-height: 70px;
  color: white;
  text-shadow: 4px 4px 4px black;
  font-weight: bolder;
}

#greeting-top {
  float: left;
  padding: 5% 0 26% 4%;
}

#greeting-bottom {
  font-size: 40px;
  width: 40%;
}

.bottom-section {
  width: 90%;
}

.scroll-about-section {
  margin-top: 10%;
  margin-left: 14%;
  height: 51px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100% !important;
  padding-top: 0.55%;
  padding-right: 2.6%;
  color: white;
  font-size: 32px;
  transition: all 0.5s;
}

.scroll-about-section:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

#stack-full {
  height: 100vh;
}

#about-me,
#expertise {
  position: relative;
  text-align: center;
}

#expertise {
  padding: 5%;
}

.expertise-content {
  margin-top: 6%;
}

#expertise h2 {
  font-size: 42px;
  text-shadow: 2px 1px 6px #888;
  padding-bottom: 1%;
  border-bottom: 3px solid;
  display: inline;
}

.expertise-svg {
  height: 15vh;
  margin: 3% auto;
}

#portfolio {
  text-align: center;
  margin: auto;
  width: 100%;
  padding-top: 6%;
  background: #f5f5f5;
}

#portfolio h3 {
  font-weight: bold;
  color: #067bc2;
  font-size: 26px;
  margin-top: 0;
}

.row-container {
  padding-top: 4%;
}

.portfolio-last-row {
  padding-bottom: 4%;
}

.portfolio-paragraph {
  padding: 0 4%;
  opacity: 0.06;
}

.portfolio-paragraph p {
  font-size: 18px;
  line-height: 1.4em;
  padding-top: 3%;
}

.portfolio-heading h2 {
  font-size: 42px;
  padding-bottom: 1%;
  text-shadow: 2px 1px 6px #888;
  border-bottom: 3px solid;
  display: inline;
  margin: 0 auto;
}

.project-first-row,
.project-img-text {
  position: relative;
  color: white;
  background: rgba(6, 123, 194, 1);
  height: 20vh;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  margin: 20% auto;
}

.project-first-row h2 {
  color: white;
}

.project-first-row h2 {
  margin: 30% auto;
}

.project-first-row h2,
.project-img-text h2 {
  text-decoration: none;
  padding-top: 18%;
  margin: 0 auto;
  display: block;
  font-size: 42px;
}

.project-first-row:hover,
.project-img-text:hover {
  background: rgba(6, 123, 194, 0.2);
}

#portfolio a:hover {
  text-decoration: none;
  color: white;
}

#contact {
  position: relative;
  background: white;
  padding-top: 3%;
  padding-left: 1.3%;
  height: 100vh;
}

#contact-content {
  border: 2px solid #067bc2;
  width: 85%;
  height: 90vh;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 7px 12px 20px 5px black;
  padding: 35px 45px;
  position: relative;
  margin: 3.5% auto;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

#contact-content h2,
#about-me h2 {
  color: #067bc2;
  margin: 2% 0;
  padding-bottom: 2%;
  border-bottom: 3px solid #067bc2;
  font-size: 45px;
  display: inline;
}

#contact-content form {
  padding-left: 0;
}

#contact-content .vertical-line {
  border-left: 1px solid black;
  height: 80vh;
  margin-left: 3%;
}

#contact-content .about-content p {
  font-size: 18px;
  padding-top: 15%;
}

#contact-content .form-first-p {
  margin: 12% 0 4% 0;
}

#contact-content form .submit-btn {
  float: right;
  padding: 2.5%;
  margin: 20% 0 14% 3%;
  border: 2px solid #067bc2;
  color: #f8f8f8;
  width: 28%;
  background: #067bc2;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

#contact-content .submit-btn:hover {
  background: black;
  color: #f8f8f8;
  border: 2px solid black;
}

#contact-content input {
  border-bottom: 1px solid black;
  background: #f8f8f8;
  color: #067bc2;
  width: 45%;
  text-align: center;
  font-size: 18px;
}

#contact-content .form-p {
  margin: 8% auto 7%;
}

.form-textarea {
  width: 80%;
  height: 120px;
  background: #f8f8f8;
  color: #067bc2;
  border: 0px solid black;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
  resize: none;
}

::placeholder {
  color: #067bc2;
  opacity: 0.5;
}

#about-me p {
  font-size: 18px;
  padding-bottom: 3%;
  line-height: 1.5em;
}

#about-me .about-first-p {
  padding-top: 15%;
}

.social {
  text-align: center;
  margin-bottom: -0.8%;
}

.social a {
  text-decoration: none;
  text-align: center;
  color: black;
}

.fa-github-square,
.fa-linkedin,
.fa-stack-overflow,
.fa-medium {
  font-size: 55px;
  margin-left: 1.5%;
  padding-top: 1.5%;
}

.fa-github-square:hover,
.fa-linkedin:hover,
.fa-stack-overflow:hover,
.fa-medium:hover {
  color: #067bc2;
}

.footer-container {
  position: relative;
}

#footer {
  position: absolute;
  background: #e5e5e5;
  height: 70px;
  width: 100%;
  margin-bottom: -1%;
  margin-top: 5%;
}

.copyright {
  font-size: 14px;
  bottom: 0;
  line-height: 0;
  text-align: right;
  margin-right: 1%;
}

@media screen and (max-width: 992px) {
  #homepage-heading {
    font-size: 35px;
    padding-bottom: 16%;
  }

  .homepage-content {
    padding-top: 6%;
  }

  .scroll-about-section {
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding-top: 0.8%;
  }

  #expertise {
    padding: 2%;
  }

  #expertise h2 {
    font-size: 28px;
    padding-bottom: 0.4%;
    margin: 0 auto;
    display: block;
    width: 22%;
  }

  .expertise-content {
    margin-top: 1.5%;
    margin-left: 25%;
    display: block;
    width: 60%;
  }

  .expertise-svg {
    height: 18vh;
    margin: 2% auto;
    width: 20%;
  }

  #portfolio {
    padding-top: 3%;
  }

  #portfolio h3 {
    font-size: 22px;
  }

  .portfolio-heading h2 {
    font-size: 35px;
  }

  .project-first-row,
  .project-img-text {
    height: 30vh;
  }

  .project-first-row h2,
  .project-img-text h2 {
    font-size: 30px;
    padding-top: 15%;
  }

  .portfolio-paragraph p {
    font-size: 16px;
    line-height: 1.25em;
  }
}
