* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

h1 {
  margin-top: 40px;
  transition-duration: 1s;
}

h1,
h2 {
  font-weight: bolder;
}

p {
  line-height: 30px;
  font-size: 22px;
}

a {
  color: #d11e1e;
  outline: none;
}

a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: #d11e1e;
  border-bottom: none;
}

#homepage-full,
#expertise-full,
#contact-full {
  position: relative;
  text-align: center;
}

.expertise-divider,
.projects-divider,
.contact-divider {
  width: 100vw;
  color: #333;
  height: 20vh;
}

.contact-divider {
  background: #33d353;
}

.expertise-divider {
  background: #65b0df;
}

.expertise-services {
  width: 24%;
  margin: 3% 3.3%;
  display: block;
  padding-top: 2.5%;
}

.services-row {
  margin: 0 auto;
  display: block;
}

.stack-hr {
  width: 100%;
  margin-top: 3%;
  display: block;
  border-bottom: 3px solid #65b0df;
  border-top: none;
  padding: 0;
}

.projects-divider {
  background: #f12c2c;
}

.expertise-header h2,
.projects-header h2,
.contact-header h2 {
  text-align: center;
  padding-top: 17px;
  font-size: 3em;
}

.dev-text h3,
.design-text h3,
.mobile-text h3 {
  margin-top: 30px;
  font-size: 27px;
}

.dev-text h3 {
  width: 100%;
  text-align: center;
}

.expertise-hr,
.projects-hr,
.contact-hr {
  display: block;
  margin: 10px auto;
  width: 14%;
  height: 8px;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  text-align: center;
}

.expertise-dev,
.expertise-design,
.expertise-mobile {
  font-size: 2.25rem;
  border-radius: 50%;
  height: 10.5rem;
  width: 10.5rem;
  box-shadow: 1px 1px 1.5px 1.5px #555;
  background: white;
  display: block;
  margin: 60px auto 0 auto;
}

.dev-icon,
.design-icon,
.mobile-icon {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.dev-icon {
  font-size: 1.7em;
  padding-top: 14px;
}

.design-icon {
  font-size: 1.7em;
  padding-top: 12px;
}

.mobile-icon {
  font-size: 1.8em;
  padding-top: 12px;
}

.dev-text,
.design-text,
.mobile-text {
  margin: 0 auto;
  display: block;
  width: 50%;
  text-align: center;
}

.dev-text {
  margin-right: 0;
  width: 100%;
}

.expertise-dev h3 {
  text-align: center;
}

#homepage-full {
  background: url('../imgs/bridge-black-and-white.jpg');
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.homepage-layer {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.homepage-content {
  text-align: center;
}

#greeting-top,
#greeting-bottom,
#greeting-middle {
  line-height: 70px;
  font-weight: bolder;
}

#greeting-top {
  font-size: 70px;
  text-align: center;
  color: white;
  padding-top: 3%;
}

#greeting-middle,
#greeting-bottom {
  text-align: center;
  color: #bbbaba;
  width: 60%;
  margin: 0 auto;
  display: block;
}

#greeting-middle {
  padding-top: 17%;
  font-size: 34px;
}

#greeting-bottom {
  padding-top: 15%;
  font-size: 27px;
}

.greeting-hr {
  border-top: 3px solid #bbbaba;
  width: 60%;
  margin: 10px auto;
  display: block;
}

.scroll-section {
  margin-top: 1%;
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 2px solid #bbbaba;
  border-radius: 100%;
  padding: 0.5%;
  color: #dbdbdb;
  font-size: 22px;
}

.scroll-section:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

#about-me,
#expertise {
  position: relative;
  text-align: center;
}

#expertise {
  padding-top: 5%;
}

#expertise-full .vertical-line {
  height: 40vh;
  margin: 5% 1.75% 6% 1.75%;
  width: 6px;
  padding: 0;
  border-left: 1px solid #65b0df;
  border-right: 1px solid #65b0df;
}

#expertise-full .container {
  padding: 0;
}

#expertise h2 {
  font-size: 42px;
  padding-bottom: 1%;
  border-bottom: 3px solid;
  display: inline;
}

.expertise-content {
  margin-bottom: 5%;
}

.expertise-split {
  padding: 0;
}

.expertise-svg,
.apple-svg,
.html-svg,
.css-svg,
.js-svg,
.express-svg,
.firebase-svg,
.react-svg,
.node-svg {
  margin: 3% auto;
  padding-top: 4%;
  height: 16vh;
}

.html-svg,
.css-svg {
  height: 14vh;
  margin: 10% auto;
}

.js-svg {
  height: 14vh;
  margin: 6% auto;
}

.apple-svg {
  height: 12vh;
  margin: 17% auto;
}

.react-svg {
  height: 13vh;
  margin: 8% auto;
}

.express-svg {
  padding-top: 10%;
}

.node-svg {
  padding-top: 0;
}

.firebase-svg {
  padding: 10%;
  height: 17vh;
}

.expertise-container {
  margin: 2%;
  width: 21%;
  box-shadow: 1px 1px 2px 2px #999;
}

#portfolio {
  text-align: center;
  margin: auto;
  width: 100%;
  padding-top: 6%;
}

#portfolio h3 {
  font-weight: bold;
  color: #f12c2c;
  font-size: 26px;
  margin-top: 0;
}

.portfolio-last-row {
  padding-bottom: 2%;
}

.portfolio-paragraph {
  padding: 0 4%;
  opacity: 0;
}

.portfolio-paragraph p {
  font-size: 18px;
  line-height: 1.4em;
  font-weight: normal;
}

.project-first-row,
.project-img-text {
  position: relative;
  color: #d11e1e;
  background: white;
  height: 18vh;
  width: 100%;
  text-decoration: none;
  margin: 5% auto;
  border: 2px solid #d11e1e;
  margin-top: 0;
}

.project-first-row h2,
.project-img-text h2 {
  text-decoration: none;
  padding: 15% 0;
  margin: 0 auto;
  display: block;
  font-size: 36px;
  outline: none;
  margin-top: 0;
}

.project-first-row:focus,
.project-first-row:hover,
.project-first-row:active,
.project-first-row:visited,
.project-img-text:visited,
.project-img-text:active,
.project-img-text:hover,
.project-img-text:focus {
  background: #bc1212;
  color: white;
  border: 3px solid #bc1212;
  transition: 0.8s;
  outline: 0;
}

#contact-content .submit-btn:hover {
  background: #2db348;
  border: 2px solid #2db348;
  color: white;
  transition: 0.8s;
}

#portfolio a:hover {
  text-decoration: none;
  color: white;
}

#contact {
  position: relative;
  background: white;
  padding-top: 4%;
  padding-left: 1.3%;
  height: 100vh;
}

#contact-content {
  width: 85%;
  height: 100vh;
  padding: 20px 0;
  position: relative;
  margin: 0 110px 0 auto;
  text-align: center;
  color: black;
  font-size: 20px;
}

#contact-content h2,
#about-me h2 {
  color: #2db348;
  margin: 2% 0;
  padding-bottom: 2%;
  border-bottom: 3px solid #2db348;
  font-size: 45px;
  display: inline;
}

#contact-content form {
  padding-right: 0;
  margin-left: 20px;
}

#contact-content .vertical-line {
  height: 85vh;
  border-left: 3px solid #2db348;
  width: 1px;
  padding-left: 2%;
}

#contact-content .about-content p {
  font-size: 18px;
  padding-top: 15%;
}

#contact-content .form-first-p {
  margin: 12% 0 4% 0;
}

#contact-content .submit-btn {
  padding: 1.5% 1% 1% 1%;
  margin: 20% auto;
  display: block;
  border: 2px solid #2db348;
  background: transparent;
  color: #2db348;
  border-radius: 50px;
  width: 30%;
  cursor: pointer;
  font-size: 20px;
}

#contact-content input {
  border-bottom: 1px solid black;
  color: #2db348;
  width: 45.7%;
  text-align: center;
  font-size: 20px;
}

#contact-content .form-p {
  margin: 6% auto 5%;
}

.form-textarea {
  width: 80%;
  height: 120px;
  color: #2db348;
  border: 0px solid black;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  resize: none;
}

::placeholder {
  color: #4e4e4e;
  opacity: 0.5;
}

#about-me {
  margin-left: 20px;
}

#about-me,
form {
  padding-top: 30px;
}

#about-me p {
  font-size: 22px;
  padding: 3% 0;
  line-height: 1.3em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.65);
}

#about-me .about-first-p {
  padding-top: 15%;
}

.social {
  text-align: center;
  margin-bottom: -0.8%;
}

.social a {
  text-decoration: none;
  text-align: center;
  color: black;
}

.fa-github-square,
.fa-linkedin,
.fa-stack-overflow,
.fa-medium {
  font-size: 55px;
  color: white;
  margin-left: 1.5%;
  padding-top: 1.5%;
}

.fa-github-square:hover,
.fa-linkedin:hover,
.fa-stack-overflow:hover,
.fa-medium:hover {
  color: #a09e9e;
}

.footer-container {
  position: relative;
}

#footer {
  position: absolute;
  background: black;
  color: white;
  height: 70px;
  width: 100%;
  margin-bottom: -1%;
  margin-top: 55px;
}

.copyright {
  font-size: 14px;
  bottom: 0;
  line-height: 0;

  text-align: right;
  margin-right: 1%;
}

@media screen and (max-width: 992px) {
  #greeting-top {
    font-size: 50px;
    padding-bottom: 40%;
  }

  #greeting-bottom {
    font-size: 35px;
    margin-left: 3%;
  }

  .homepage-content {
    padding-top: 6%;
  }

  .scroll-section {
    font-size: 30px;
    margin-top: 15%;
    padding-top: 0.8%;
    padding-right: 3.6%;
  }

  #expertise {
    padding: 2%;
  }

  #expertise h2 {
    font-size: 28px;
    padding-bottom: 0.4%;
    margin: 0 auto;
    display: block;
    width: 22%;
  }

  .expertise-content {
    margin-top: 1.5%;
    margin-left: 25%;
    display: block;
    width: 60%;
  }

  .expertise-svg {
    height: 18vh;
    margin: 2% auto;
    width: 20%;
  }

  #portfolio {
    padding-top: 5%;
  }

  .portfolio-heading h2 {
    font-size: 35px;
  }

  .project-first-row,
  .project-img-text {
    height: 30vh;
  }

  .project-first-row h2,
  .project-img-text h2 {
    font-size: 30px;
    padding-top: 15%;
  }

  .portfolio-paragraph p {
    font-size: 16px;
    line-height: 1.25em;
  }
}

@media screen and (max-width: 760px) {
}

@media screen and (max-width: 400px) {
}
