* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

h1 {
  margin-top: 40px;
  transition-duration: 1s;
}

h1,
h2 {
  font-weight: bolder;
}

p {
  line-height: 30px;
  font-size: 22px;
}

form {
  margin-left: -4%;
}

#homepage-full,
#expertise-full,
#contact-full {
  position: relative;
  text-align: center;
}

.expertise-divider {
  height: 60vh;
  width: 100vw;
  background: #65b0df;
  color: black;
}

.expertise-header h2 {
  text-align: center;
  font-size: 2.5em;
  margin-top: 30px;
}

.expertise-hr {
  display: block;
  margin: 20px auto;
  width: 17%;
  height: 7px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  text-align: center;
}

.expertise-dev,
.expertise-design,
.expertise-mobile {
  font-size: 2.25rem;
  border-radius: 50% !important;
  height: 10rem;
  width: 10rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  background: white;
  display: block;
  margin: 50px auto;
}

.dev-icon,
.design-icon,
.mobile-icon {
  font-size: 1.6em;
  display: block;
  padding-top: 14px;
  margin: 0 auto;
  width: 100%;
}

.dev-text,
.design-text,
.mobile-text {
  margin: 40px auto;
  display: block;
  width: 50%;
  text-align: center;
}

.expertise-dev h3 {
  text-align: center;
}

#homepage-full {
  background: url('../imgs/programmer-wp.png');
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.homepage-content {
  text-align: center;
}

#greeting-top,
#greeting-bottom,
.skills-p {
  line-height: 70px;
  color: white;
  font-weight: bolder;
}

#greeting-top {
  font-size: 60px;
  margin-top: 0;
  padding: 5% 0 12% 3%;
}

#greeting-bottom {
  margin: 20% auto 1.3% auto;
}

.scroll-section {
  margin: 0 10px 0 0;
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 2px solid white;
  border-radius: 100% !important;
  padding: 0.5%;
  padding-top: 0.4%;
  color: white;
  font-size: 22px;
}

.scroll-section:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

#expertise-full {
  height: 85vh;
}

#about-me,
#expertise {
  position: relative;
  text-align: center;
}

#expertise {
  padding-top: 3%;
}

.expertise-content {
}

#expertise h2 {
  font-size: 42px;
  padding-bottom: 1%;
  border-bottom: 3px solid;
  display: inline;
}

.expertise-svg,
.express-svg,
.firebase-svg,
.react-svg,
.node-svg {
  margin: 3% auto;
  padding-top: 4%;
  height: 16vh;
}

.react-svg {
  padding-top: 7%;
  padding-bottom: 4%;
}

.express-svg {
  padding-top: 10%;
}

.node-svg {
  padding-top: 0;
}

.firebase-svg {
  padding: 10%;
  height: 17vh;
}

.expertise-container {
  background: #f5f5f5;
  margin: 2%;
  width: 21%;
  box-shadow: 3px 2px 10px 1px #bcbcbc;
}

#portfolio {
  text-align: center;
  margin: auto;
  width: 100%;
  padding-top: 3%;
  background: #fafafa;
}

#portfolio h3 {
  font-weight: bold;
  color: #f12c2c;
  font-size: 26px;
  margin-top: 0;
}

.row-container {
  padding-top: 4%;
}

.portfolio-last-row {
  padding-bottom: 4%;
}

.portfolio-paragraph {
  padding: 0 4%;
  opacity: 0;
}

.portfolio-paragraph p {
  font-size: 18px;
  line-height: 1.4em;
  font-weight: normal;
  padding-top: 3%;
}

.portfolio-heading h2 {
  font-size: 42px;
  padding-bottom: 1%;
  border-bottom: 3px solid;
  display: inline;
  margin: 0 auto;
}

.project-first-row,
.project-img-text {
  position: relative;
  color: #d11e1e;
  background: white;
  height: 20vh;
  width: 100%;
  text-decoration: none;
  margin: 10% auto;
  border: 2px solid #d11e1e;
}

.project-first-row h2 {
  margin: 30% auto;
}

.project-first-row h2,
.project-img-text h2 {
  text-decoration: none;
  padding: 18% 0;
  margin: 0 auto;
  display: block;
  font-size: 35px;
}

.project-first-row:focus,
.project-first-row:hover,
.project-first-row:active,
.project-img-text:active,
.project-img-text:hover,
.project-img-text:focus,
#contact-content .submit-btn:hover {
  background: #bc1212;
  color: white;
  border: 3px solid #bc1212;
  transition: 0.8s;
}

#contact-content .submit-btn:hover {
  background: #bc1212;
  border: 2px solid #bc1212;
  color: white;
  transition: 0.8s;
}

#portfolio a:hover {
  text-decoration: none;
  color: white;
}

#contact {
  position: relative;
  background: white;
  padding-top: 3%;
  padding-left: 1.3%;
  height: 100vh;
}

#contact-content {
  width: 85%;
  height: 90vh;
  padding: 35px 45px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

#contact-content h2,
#about-me h2 {
  color: #d11e1e;
  margin: 2% 0;
  padding-bottom: 2%;
  border-bottom: 3px solid #d11e1e;
  font-size: 45px;
  display: inline;
}

#contact-content form {
  padding-left: 0;
}

#contact-content .vertical-line {
  border-left: 1px solid black;
  height: 80vh;
  margin-left: 3%;
}

#contact-content .about-content p {
  font-size: 18px;
  padding-top: 15%;
}

#contact-content .form-first-p {
  margin: 12% 0 4% 0;
}

#contact-content .submit-btn {
  padding: 2.5%;
  margin: 20% auto;
  display: block;
  border: 2px solid #d11e1e;
  background: transparent;
  color: #d11e1e;
  border-radius: 50px;
  width: 50%;
  cursor: pointer;
  font-weight: bold;
}

#contact-content input {
  border-bottom: 1px solid black;
  color: #d11e1e;
  width: 45.7%;
  text-align: center;
  font-size: 18px;
}

#contact-content .form-p {
  margin: 6% auto 5%;
}

.form-textarea {
  width: 80%;
  height: 120px;
  color: #d11e1e;
  border: 0px solid black;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  resize: none;
}

::placeholder {
  color: #4e4e4e;
  opacity: 0.5;
}

#about-me p {
  font-size: 18px;
  padding-bottom: 3%;
  line-height: 1.5em;
}

#about-me .about-first-p {
  padding-top: 15%;
}

.social {
  text-align: center;
  margin-bottom: -0.8%;
}

.social a {
  text-decoration: none;
  text-align: center;
  color: black;
}

.fa-github-square,
.fa-linkedin,
.fa-stack-overflow,
.fa-medium {
  font-size: 55px;
  color: white;
  margin-left: 1.5%;
  padding-top: 1.5%;
}

.fa-github-square:hover,
.fa-linkedin:hover,
.fa-stack-overflow:hover,
.fa-medium:hover {
  color: #a09e9e;
}

.footer-container {
  position: relative;
}

#footer {
  position: absolute;
  background: black;
  color: white;
  height: 70px;
  width: 100%;
  margin-bottom: -1%;
}

.copyright {
  font-size: 14px;
  bottom: 0;
  line-height: 0;

  text-align: right;
  margin-right: 1%;
}

@media screen and (max-width: 992px) {
  #greeting-top {
    font-size: 50px;
    padding-bottom: 40%;
  }

  #greeting-bottom {
    font-size: 35px;
    margin-left: 3%;
  }

  .homepage-content {
    padding-top: 6%;
  }

  .scroll-section {
    font-size: 30px;
    margin-top: 15%;
    padding-top: 0.8%;
    padding-right: 3.6%;
  }

  #expertise {
    padding: 2%;
  }

  #expertise h2 {
    font-size: 28px;
    padding-bottom: 0.4%;
    margin: 0 auto;
    display: block;
    width: 22%;
  }

  .expertise-content {
    margin-top: 1.5%;
    margin-left: 25%;
    display: block;
    width: 60%;
  }

  .expertise-svg {
    height: 18vh;
    margin: 2% auto;
    width: 20%;
  }

  #portfolio {
    padding-top: 5%;
  }

  .portfolio-heading h2 {
    font-size: 35px;
  }

  .project-first-row,
  .project-img-text {
    height: 30vh;
  }

  .project-first-row h2,
  .project-img-text h2 {
    font-size: 30px;
    padding-top: 15%;
  }

  .portfolio-paragraph p {
    font-size: 16px;
    line-height: 1.25em;
  }
}

@media screen and (max-width: 760px) {
}

@media screen and (max-width: 400px) {
}
